@import '../styles/media';

.cards {
    margin-bottom: var(--spacing--30);
}

.cardsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;

    @supports (display: grid) {
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        @include phone-m {
            gap: var(--spacing--40);
            grid-template-columns: 1fr 1fr;
        }
    }
    @include tablets {
        --card--item--width: 20rem;
    }

    @include phone-m {

        div[class*='cardItem__'] {
            margin-bottom: 40px;
        }
    }
}

.categoryList {
    @supports (display: grid) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(12rem, 14.5rem));
        gap: var(--spacing--40);
    }
    @include tablets {
        --card--item--width: 10rem;
    }

    @include phone-m {
        display: block;

        div[class*='cardItem__'] {
            margin-bottom: 40px;
        }
    }
}

.result {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chefsSkeleton {
    padding: 0 20px 20px;
    flex: 0 0 25%;
}


.items:last-child {
    margin-bottom: 100px;
}
